<div>
    <div class="header">
        <h2 mat-dialog-header>Title</h2>
        <button mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
    </div>
    
    <div mat-dialog-content>
        Are you sure to delete this?
    </div>
    <div mat-dialog-sections [align]="'end'">
        <button mat-raised-button [mat-dialog-close]="false">No</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="navigateBack()" (click)="deleteEmployee(selectedEmployee.id)" >Yes</button>
    </div>
    </div>