<mat-toolbar>
    <div class="select">

        <mat-form-field>
            <mat-label>Author</mat-label>
            <mat-select #authorValue  (selectionChange)="filterByAuthor($event.value)">
                <mat-option [value]="0"><b>All authors</b></mat-option>
                @for (option of authorOptions; track authorOptions) {
                    <mat-option [value]="option.value">
                        {{ option.displayValue }}
                    </mat-option>
                }
            </mat-select>
          </mat-form-field>
    </div>
    <span class="spacer"></span>
    <div class="select">

        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select #catValue  (selectionChange)="filterByCategory($event.value)">
                <mat-option [value]="0"><b>All categories</b></mat-option>
                @for (option of categoryOptions; track categoryOptions) {
                    <mat-option [value]="option.value">
                        {{ option.displayValue }}
                    </mat-option>
                }
            </mat-select>
          </mat-form-field>
    </div>
    <span class="spacer"></span>
    <div class="toggle">
        <p><mat-slide-toggle>Show only favorites</mat-slide-toggle></p>
    </div>
    <span class="spacer"></span>
    <mat-form-field>
        <input matInput #search (keyup)="searchByTitle(search.value)" type="search" placeholder="Search by title" aria-label="Search">
        
      </mat-form-field>
</mat-toolbar>
