@import "../../../../theme.scss";

mat-card {
  mat-card-header {
    display: flex;
    justify-content: center;

    mat-card-title {
      font-size: 1.5rem;
      color: #000000;
    }
  }
  
  mat-card-actions {
    button {
      margin: auto;
      width: 80%;
    }

    h4 {
      margin: 0;
      padding-right: 1rem;
    }
  }
}

.spacer {
  flex: 1 1 auto;
  padding: 100px;
}

.desc{
  height: 50px;
}